/* Small Screen */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.form__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.form__title {
  color: #901E3E;
  margin-bottom: 0.5rem;
  font-size: 2.44rem;
}

.form__input {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form__input__title,
.form__input__year,
.form__input__type,
.form__input__poster {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.3rem;
}
.form__input__title label,
.form__input__year label,
.form__input__type label,
.form__input__poster label {
  font-size: 1.2rem;
  text-align: left;
  color: #64748b;
}

.form__input__title input,
.form__input__year input,
.form__input__type select,
.form__input__poster input {
  padding: 0.6rem;
  border-radius: 0.5rem;
}

.form__error {
  color: red;
  margin: 0;
  font-size: 0.9rem;
  font-style: italic;
}

.form__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #901E3E;
  color: #fff;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
     * Nothing TODO Here.
     * We dont change style form. 
     */
  .form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    text-align: left;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .form__left {
    flex: 1;
  }

  .form__image {
    width: 90%;
    aspect-ratio: 4/3;
    border-radius: 20px;
    object-fit: cover;
  }

  .form__right {
    flex: 1;
  }

  .form__title {
    color: #901E3E;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .form__input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form__input__title,
  .form__input__year,
  .form__input__type {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  label {
    font-size: 0.9rem;
    color: #333;
  }

  input,
  select {
    padding: 0.6rem;
    border-radius: 6px;
    border: 1.5px solid #901E3E;
    outline: none;
    font-size: 1rem;
  }

  .form__button {
    background-color: #901E3E;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form__button:hover {
    background-color: #0aa38b;
  }
}
