/* Small Screen */
.container {
  background-color: #10caa7;
  padding: 1rem;
  color: #fff;
}

.navbar {
  display: flex;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar__brand {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.navbar__list {
  display: flex;
  list-style: none;
}

.navbar__item {
  margin-bottom: 1rem;
}

.navbar__item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar__item a:hover {
  color: #004e64;
}

/* Medium Screen */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar__brand {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .navbar__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navbar__item {
    margin: 0 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  /* 
   * Nothing TODO HERE.
   * We haven't styling Navbar.
   */
}
